[ext4]
TEST_DEV=/dev/sda1
SCRATCH_DEV=/dev/sda2
FSTYP=ext4
TEST_DIR=/mnt/xfstests/mnt1
SCRATCH_MNT=/mnt/xfstests/mnt2
LOGWRITES_DEV=/dev/sda3
LOGWRITES_MNT=/mnt/xfstests/logwrites
DEV_TYPE=mount
SCRATCH_LOGDEV=
SCRATCH_RTDEV=
BLKSIZE=default
MKFS_OPTS=
REPORT_PASS=0
CHECK_OPTS=
SKIP_LEVEL=1
NO_MKFS=
FSCK=fsck.ext4
FSCK_OPTS=-nf
FSCK_FIXOPTS=-yf
MAX_SIZE=104857600
